
// basic styling 

.ugaam-custom-ad a {

	display:block;
	width:100%;
	height: 100%;
}

.ugaam-ad-wrapper-outer {

	width:100%;
}

.ugaam-ad-wrapper-outer iframe {
	
	position: relative;
	display:block;
	width:100%;
	min-height: 1px;
	max-height: auto;
}

.ugaam-ad-wrapper-inner {

	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap:wrap;
}

.ugaam-custom-ad,
.ugaam-adsense-ad,
.ugaam-ad-content {
	
	position: relative;
	width: 100%;
	min-width: 1px;
    max-width: 100%;
    height: 100%;
    min-height: 1px;
}


// advertisement aligment 


.ugaam-left-align .ugaam-ad-wrapper-inner {

	justify-content: flex-start;
	text-align:left;
}

.ugaam-right-align .ugaam-ad-wrapper-inner {

	justify-content: flex-end;
	text-align:right;
} 

.ugaam-center-align .ugaam-ad-wrapper-inner {

	justify-content: center;
	text-align:center;
}


// sticky ads

[class*="ugaam-sticky-"] {

	position: fixed;
	z-index: 1000000;
	left:0;
	right:0;
	width:100%;
	height:auto;
	padding-left: 1%;
    padding-right: 1%;
}

.ugaam-ad-wrapper-outer[class*="ugaam-sticky-"]  {
	
	width:100%;
	max-width: 728px;
}

.ugaam-sticky-header-ad-wrapper {
	
	top:0;
	bottom:auto;
}

.ugaam-sticky-footer-ad-wrapper {

	top:auto;
	bottom:0;
}


// sticky ads aligment 


.ugaam-ad-wrapper-outer[class*="ugaam-sticky-"].ugaam-center-align {

	margin:0 auto;
}

.ugaam-ad-wrapper-outer[class*="ugaam-sticky-"].ugaam-left-align {

	left:0;
	right:auto;
}

.ugaam-ad-wrapper-outer[class*="ugaam-sticky-"].ugaam-right-align {

	left:auto;
	right:0;
}


// buttons 

button.ugaam-ad-close-button {

	display:none;
	position: absolute;
	z-index: 1000001;
    left: auto;
    top: -15px;
    right: -15px;
    bottom: auto;
    color: #ffffff;
    background: #ed1c24;
    border:none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 11px;
    margin:0;
    padding:0;
    text-shadow: none;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    -o-border-radius:100%;
    -ms-border-radius:100%;
    border-radius:100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

[class*="ugaam-sticky-"] button.ugaam-ad-close-button  {

	display:block;

}

[class*="ugaam-sticky-"] button.ugaam-ad-close-button:hover {

	color:#666666;
	background:#ffffff;
	border:none;
}

[class*="ugaam-sticky-"] button.ugaam-ad-close-button:focus {

	background-color:#ffffff;
	outline:none;
	border:none;
}


// button sticky header ads 

.ugaam-ad-wrapper-outer[class*="ugaam-sticky-"].ugaam-sticky-header-ad button.ugaam-ad-close-button {

	top:auto;
	bottom: -15px;
}


// media query 

@media ( min-width: 768px ) {

	.ugaam-mobile-adsense-ad {

		display:none;
	}
}

@media ( max-width: 768px ) {

	.ugaam-desktop-tablet-adsense-ad {

		display:none;
	}
}

@media ( max-width: 600px ) {

	[class*="ugaam-sticky-"]  {

		padding-left:15px;
		padding-right:15px;
	}
}


