
// basic styling 

.ugaam-custom-ad a {

	display:block;
	width:100%;
	height: 100%;
}

.ugaam-ad-wrapper-outer {

	width:100%;
	height:100%;
}

.ugaam-ad-wrapper-outer iframe {

	display:block;
	width:100%;
	height:100%;
}


// advertisement aligment 


.ugaam-left-align {

	text-align: left;
}

.ugaam-right-align {

	text-align:right;
} 

.ugaam-center-align {

	text-align:center;
}


// sticky ads


[class*="ugaam-sticky-"] {

	position: fixed;
	z-index: 1000000;
	left:0;
	right:0;
	width:100%;
	height:100%;
}

.ugaam-ad-wrapper-outer[class*="ugaam-sticky-"]  {
	
	height:auto;
	width:auto;
	background-color:#ffffff;
}

.ugaam-sticky-header-ad-wrapper {

	top:0;
	bottom:auto;
}

.ugaam-sticky-footer-ad-wrapper {

	top:auto;
	bottom:0;
}


