
// varibale for spacing 

$defualt-ads-spacing					: 30px;

:root {

    --ugaam-close-button-color: #A4A4A4;
    --ugaam-close-button-background: #FFFFFF;
    
    --ugaam-close-button-hover-color: #888888;
    --ugaam-close-button-hover-background: #DDDDDD;
}